@import '../../../constants/colors.scss';

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    background-color: $primaryColor;
    color: white;
    display: flex;
    align-items: center;
    min-height: 100px;
    padding: 0 3vw;
}

.logo {
    width: 33%;
}

.containerLogin {
    width: 66%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin: 0 1vw;
        font-weight: bold;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        background-color: red;
    }
}